header {
    background-color: rgb(254, 177, 32);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*todos los elemntos son separados*/
    padding: 20px 20px;
    padding-top: 100px;
}

footer {
    background-color: rgb(118, 82, 15);
    color: white;
    padding: 25px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px 0;
    /*navbar fijo*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(254, 177, 32, 0.9);
    backdrop-filter: blur(8px);
    z-index: 1000; /*posiciona el navbar hasta adelante*/
}

.nav-links {
    display: flex;
    list-style: none;
    color:black;
    font-weight: bold;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}